{% extends 'base.html' %}
{% load static %}

{% block title %}GrowMatch - Homepage{% endblock %}

{% block style %}
    <!-- Google Icons -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200&icon_names=nature" />
    <link rel="stylesheet" href="{% static 'css/homepage.css' %}">
{% endblock %}

{% block content %}
    <section class="homepage container">
        <div class="homepage-screen">
            <div class="homepage-text">
                <div class="eyebrow">
                    <span class="small-line"></span>
                    Urban Farming & Biodiversity
                </div>
                <h1>
                    Find your <i>plant match.</i>
                </h1>
                <p>
                    Personalized plant recommendations for 
                    your space, lifestyle, and vibe
                </p>
                <button class="button--accent">
                    Get Your Match
                </button>

                <button class="button--secondary">
                    Explore Catalog
                </button>
                <div class="homepage-additional">
                    <span class="material-symbols-outlined">
                    nature
                    </span>
                    <p>
                        Haven't got experience?
                        <br>
                        <b>Don't worry, you're in the right place!</b>
                    </p>
                </div>
            </div>
            <div class="homepage-thumbnail">
                <img src="{% static 'img/plant-1.jpg' %}">
            </div>
        </div>
    </section>

    <div class="homepage-divider">
        <p>match your environment</p>
        <p>match your habits</p>
        <p>good for the earth</p>
    </div>

    <section class="match-info container">

        <h2>Match with only<br><i>3 steps</i></h2>
        <div class="step-list">
            <div class="step">
                <h3 class="step-number">01</h3>
                <p class="step-name">
                    Tell us about your space
                </p>
                <p class="step-description">
                    Where do you live? 
                    Will your plants grow indoors or outdoors? 
                    Help us get to know their future home.
                </p>
            </div>

            <div class="step">
                <h3 class="step-number">02</h3>
                <p class="step-name">
                    Find your rhythm
                </p>
                <p class="step-description">
                    Tell us about your gardening experience 
                    and how often you can make time to 
                    water your plants.
                </p>
            </div>

            <div class="step">
                <h3 class="step-number">03</h3>
                <p class="step-name">
                    Meet your match
                </p>
                <p class="step-description">
                    Explore plant recommendations tailored to you 
                    and start your growing journey with confidence.
                </p>
            </div>
        </div>
        <div class="empty-space"></div>
    </section>
    <section class="example-plants">
        <div class="container">
            <div class="eyebrow">
                <span class="small-line"></span>
                Know your future roommates
            </div>
            <h2>
                Green has many shapes
            </h2>
            <button class="button">
                Get Your Match
            </button>

            <button class="button--secondary">
                Explore Catalog
            </button>
            
            <div class="plant-list">
                <div class="plant">
                    <div class="plant-info">
                        <h3>Snake Plant</h3>
                        <p><i>Dracaena trifasciata</i></p>
                    </div>
                    <div class="image-mask"></div>
                    <img src="../static/img/snake-plant.jpg">
                </div>
                <div class="plant">
                    <div class="plant-info">
                        <h3>ZZ Plant</h3>
                        <p><i>Zamioculcas zamiifolia</i></p>
                    </div>
                    <div class="image-mask"></div>
                    <img src="../static/img/zz-plant.jpg">
                </div>
                <div class="plant">
                    <div class="plant-info">
                        <h3>Pothos</h3>
                        <p><i>Epipremnum aureum</i></p>
                    </div>
                    <div class="image-mask"></div>
                    <img src="../static/img/pothos.jpg">
                </div>
            </div>
        </div>
    </section>
    <section class="services container">
        <div class="eyebrow">
            <span class="small-line"></span>
            Beyond just discovering
        </div>
        <h2>
            Match now, <i>Grow</i> to Life
        </h2>
        
    </section>
{% endblock %}
